{% extends 'base.html' %}

{% block title %}
Contratos
{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-6">
    <form method="GET" action="{% url 'contracts:contract_list' %}" class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" id="search" name="search" placeholder="Buscar" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>

  <h2>Lista de Contratos
    <span class="float-end">
      <a href="{% url 'contracts:contract_create' %}">
        <button type="button" class="btn btn-primary">
          <span class="bi bi-plus"></span> Adicionar
        </button>
      </a>
    </span>
  </h2>
</div>
{% if contracts %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Objeto</th>
          <th class="text-center">Número</th>
          <th class="text-center">Vigência</th>
          <th class="text-center">Valor</th>
          <th class="text-center">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td>
            <a href="{% url 'contracts:contract_detail' contract.id %}" class="text-primary fw-semibold">
              {{ contract.number }}
            </a>
          </td>
          <td>{{ contract.target }}</td>
          <td>{{ contract.expire }} dias</td>
          <td>{{ contract.formatted_value }}</td>
          <td>
            <a href="{% url 'contracts:contract_detail' contract.id %}" class="btn btn-info btn-sm">
              <i class="bi bi-eye"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="no-results">Nenhum item encontrado.</p>
{% endif %}

{% endblock %}
